<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <p>Hola <span style="font-weight: bold;">{{user.get_full_name}}</span></p>
    <p></p>
    <p>Tu nueva contraseña es: <span style="font-weight: bold; font-size: larger;">
    {{password}}</span></p>
    <p></p>
    <p></p>

    <p></p>
    <p></p>
    <p>Gracias por preferirnos, <span style="font-weight: bold; font-size: larger;">ChoquiRecetas</span>
    </p>
</body>
</html>